@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

*:focus {
  outline: none;
}

.year-control {
  left: .5em;
}
.year-control.ol-active {
  background-color: rgba(0,0,0,0.4);
}
.year-control button {
  width: auto;
  padding: 2px;
}

.year-control-vars {
  top: 5.5em;
}
.year-control-abs {
  top: 9em;
}

.year-control-1975 {
  top: 5em;
}
.year-control-1990 {
  top: 7em;
}
.year-control-2000 {
  top: 9em;
}
.year-control-2015 {
  top: 11em;
}

.reload-control {
  left: .5em;
  top: 3.5em;
}
.reload-control button:hover {
  cursor: pointer;
}

.ol-control button{
  background-color: rgba(0, 0, 0, 1);
}

.ol-scale-line-inner{
  background-color: rgba(0, 0, 0, 1);
}

.ol-scale-line{
  background-color: rgba(0, 0, 0, 1);
}

.multiply {
  mix-blend-mode: multiply;
}

.ol-popup {
  color: white;
  background-color: black !important;
  font-weight: 800;
  position: absolute;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 0 15px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 230px;
  z-index: 10;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: black !important;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

#popup-content {
  max-height: 220px;
  overflow-y: auto;
  font-size: 13px;
}

#popup-content p {
  padding: 0;
  line-height: 1.4em;
}

.ol-control button:hover, .ol-control button:focus {
  text-decoration: none;
  background-color: rgba(0,0,0,0.3);
}

.ol-control button {
  border-radius: 0px;
}

/*
.ol-control button:active {
  text-decoration: none;
  background-color: rgb(50 50 50) !important;
  color:white !important;
}

.ol-control button {
  background-color:white !important;
  color: gray !important;
}
*/

button.selector {
  height: auto;
  line-height: inherit;
  text-align: left;
  border: 0px solid black;
  padding: 5px;
  cursor: pointer;
  background: rgb(182, 182, 182);
}

.ol-active button.selector{
  background: rgb(87, 87, 87);
}

div#city {
  font-size: 50px;
  position: absolute;
  z-index: 9;
  left: 1em;
  top: 0.1em;
  font-weight: 900;
}

.dot_pob{
  background: rgb(224, 84, 84);
  height: 10px;
  width:  10px;
  display: inline-block;
  border-radius: 20px;
  margin-right: 10px;
  border: 1px solid rgba(255,255,255,0.5);
}


.dot_urb{
  background: rgba(90, 145, 200, 1);
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 20px;
  margin-right: 10px;
  border: 1px solid rgba(255,255,255,0.5);
}

/*

color_1=[227, 33, 34,  0.5],
    color_2=[90, 145, 200, 1];
*/

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  border: 5px solid rgba(180, 180, 180, 0.6);
  border-top-color: rgba(0, 0, 0, 0.6);
  animation: spinner 0.6s linear infinite;
}

.spinner .ol-viewport {
  opacity: 0.5;
}